*{
    margin: 0;
    padding: 0;
}
*:focus{
    outline:none
}

/* Webkits */
::-webkit-scrollbar {
    display: none;
}

/* Background */
.mainSection {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/images/background.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    z-index: -100;
    position: absolute;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav */
.navSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.navAccodian {
    margin-left: 2rem;
    margin-top: 2rem;
    color: white;
}
.accTitle{
    font-size: clamp(1rem, 0.474rem + 2.807vw, 3rem);
    color: black;
}
.accInfo{
    color: black;
    font-size: clamp(0.5rem, 0.336rem + 0.877vw, 1.125rem);
}
.questionTitle {
    font-size: clamp(1rem, 0.671rem + 1.754vw, 2.25rem);
    color: black;
}
.navButtons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.navButton{
    width: auto;
    font-size: clamp(1rem, 0.671rem + 1.754vw, 2.25rem);
    margin: 10px;
    margin-right: 3vw;
    background: none;
    border: none;
}
.navButton:hover{
    cursor: pointer;
}

/* Search */
.searchSection {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}
.searchBar {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    height: 6vh;
    border-radius: 2.5vw;
    padding: 0.5rem;
    background-color: #6B8966;
    color: white;
    border: none;
    font-size: 2rem;
    margin-top: 20vh;
}
.searchBarInput {
    margin-left: 0.5rem;
    background-color: #6B8966;
    color: white;
    border: none;
    font-size: clamp(1rem, 0.474rem + 2.807vw, 3rem);
    width: 75%;
}
.searchBarInput::placeholder{
    color: white;
}
.searchButton {
    background-color: none;
    margin-right: 0;
    height: auto;
    background: none;
    border: none;
    padding: none;
    font-size: 2.5rem;
    color: white;
    margin-right: 0.75rem;
}
.searchButton:hover{
    cursor: pointer;
}