*{
    margin: 0;
    padding: 0;
}
*:focus{
    outline:none
}
body{
    overflow-x: hidden;
}

/* Webkits */
::-webkit-scrollbar {
    display: none;
}

/* Background */
.mainSection {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/images/background.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    z-index: -100;
    position: absolute;
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav */
.navSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.navAccodian {
    margin-left: 2rem;
    margin-top: 2rem;
    color: white;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-color: transparent;
    background: #c0cfdd;
    border-radius: 50%;
    color: #000000;
    margin-left: 1rem;
    align-self: center;
    min-width: 2rem;
}
.btn:hover{
    cursor: pointer;
}
.questionTitle{
    display: flex;
}
.accTitle{
    font-size: clamp(1rem, 0.474rem + 2.807vw, 3rem);
    color: black;
}
.accInfo{
    color: black;
    font-size: clamp(0.5rem, 0.336rem + 0.877vw, 1.125rem);
}
.questionTitle {
    font-size: clamp(1rem, 0.671rem + 1.754vw, 2.25rem);
    color: black;
}
.navButtons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.navButton{
    width: auto;
    font-size: clamp(1rem, 0.671rem + 1.754vw, 2.25rem);
    margin: 10px;
    margin-right: 3vw;
    background: none;
    border: none;
}
.links{
    text-decoration: none;
    color: black;
}
.navButton:hover{
    cursor: pointer;
}
.hidden{
    opacity: 0;
}
.infoSwitch{
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 3px;
}

/* Search */
.searchSection {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}
.searchBar {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    height: 6vh;
    border-radius: 2.5vw;
    padding: 0.5rem;
    background-color: #6B8966;
    color: white;
    border: none;
    font-size: 2rem;
    margin-top: 20vh;
}
.searchBarInput {
    margin-left: 1.5rem;
    background-color: #6B8966;
    color: white;
    border: none;
    font-size: clamp(0.7rem, 0.161rem + 2.877vw, 2.75rem);;
    width: 75%;
}
.searchBarInput::placeholder{
    color: white;
}
.searchButton {
    background-color: none;
    margin-right: 0;
    height: auto;
    background: none;
    border: none;
    padding: none;
    font-size: 2.5rem;
    color: white;
    margin-right: 0.75rem;
}
.searchButton:hover{
    cursor: pointer;
}

/* Music */
.musicSection {
    width: calc(100% - 6rem);
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 3rem;
    background-image: url('../../public/images/musicBG.png');
    background-size: cover;
    background-position: center;
    margin-top: 50vh;
}

/* Quote */
.quoteSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color:rgb(27, 27, 27);
    background-image: url('../../public/images/tv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.quoteButton{
    position: relative;
    background-color: rgb(231, 50, 255);
    width: 12rem;
    height: 5.5vh;
    border-radius: 25px;
    font-size: 25px;
    margin-top: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.quoteButton:hover{
    background-color: rgb(116, 26, 128);
}
.quote{
    opacity: 1;
    animation: appear;
    animation-duration: 3s;
}
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.quoteTitle{
    font-size: 2.25vw;
}
.quoteMain{
    position: relative;
    top: clamp(-1rem, 1.857rem + -7.619vw, -5rem);
    text-align: center;
    margin-left: clamp(3rem, -11.286rem + 38.095vw, 23rem);
    margin-right: clamp(3rem, -11.286rem + 38.095vw, 23rem);
    height: 50vh;
    width: 60vh;
}
.quoteMain > div{
    height: 20rem;
}

/* Notes Section */
.notesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: 50vh;
    padding: 2rem;
    background-image: url('../../public/images/notes.png');
    background-size: cover;
    background-position: center;
}
.notesTitle{
    font-size: clamp(1rem, 0.474rem + 2.807vw, 3rem);
    color: black;
}
.notesText{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.notesButton{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
}
.notesButton:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}
.notesDelete{
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 22px;
    height: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
    margin: clamp(0.5rem, -0.158rem + 3.509vw, 3rem);
}
.notesDelete:hover{
    box-shadow: 0 0 0 0.15rem #5ceace;
}
.notesItem{
    font-size: clamp(0.5rem, 0.105rem + 2.105vw, 2rem);
}